* {
    box-sizing: border-box;
}

form.main-form input[type=text] {
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 60%;
    background: #f1f1f1;
}

form.main-form button {
    float: left;
    width: 20%;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
}

form.main-form button:hover {
    background: #0b7dda;
}

form.main-form::after {
    content: "";
    clear: both;
    display: table;
}
